{{define "process"}}
<html>

<head>
    <title>Process Description: {{.Info.Title}}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        h1 {
            margin-bottom: 1rem;
        }

        .blue {
            color: blue;
        }

        .gray {
            color: gray;
        }
    </style>
</head>

<body>
    <h1>Process Description: {{.Info.Title}}</h1>

    <h3>Info</h3>

    <ul>
        <li><strong>Title: </strong> {{.Info.Title}}</li>
        <li><strong>Description: </strong> {{.Info.Description}}</li>
        <li><strong>Version: </strong> {{.Info.Version}}</li>
    </ul>

    <h3>Inputs</h3>

    {{range .Inputs}}
    <ul>
        <li><strong>{{.Title}}</strong> </li>
        <ul>
            <li>Min {{.MinOccurs}}
            <li>Max {{.MaxOccurs}}
        </ul>
    </ul>
    {{end}}

    <h3>Outputs</h3>

    {{range .Outputs}}
    <ul>
        <li><strong>{{.Title}}</strong> </li>
        <ul>
            <li>Formats
                {{range .Output.Formats}}
                <ul>
                    <li>{{.}}
                </ul>
                {{end}}
        </ul>
    </ul>
    {{end}}

    <h3>Links</h3>

    {{range .Links}}
    <ul>
        <li><strong>{{.Title}}</strong> </li>
        <ul>
            <li>Href {{.Href}}
            <li>Rel {{.Rel}}
            <li>Type {{.Type}}
        </ul>
    </ul>
    {{end}}

</body>

</html>
{{end}}