{{define "jobs"}}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/img/favicon-32x32.png">
    <title>Jobs List</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <h1>Jobs List</h1>
    <table>
        <thead>
            <tr>
                <th>Logs (JobID)</th>
                <th>Status</th>
                <th>ProcessID</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {{range .jobs}}
            <tr>
                <td><a href="/jobs/{{.JobID}}/logs" target="_blank">{{.JobID}}</a></td>
                <td>
                    <span class="status-symbol">
                        {{if eq .Status "successful"}}✔️{{else if or (eq .Status "failed") (eq .Status
                        "dismissed")}}❌{{else if or (eq .Status "accepted") (eq .Status "running")}}🟡{{end}}
                    </span>
                    <a href="/jobs/{{.JobID}}" target="_blank">
                        {{.Status}}
                    </a>
                </td>
                <td><a href="/processes/{{.ProcessID}}" target="_blank">{{.ProcessID}}</a></td>
                <td>{{.LastUpdate.Format "2006-01-02 15:04:05 MST"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <br>
    <div class="pagination">
        {{range .links}}
        {{if eq .Title "prev"}}
        <a href="{{.Href}}" class="prev-link"> &lt; Prev </a>
        {{end}}
        {{if eq .Title "next"}}
        <a href="{{.Href}}" class="next-link"> Next &gt; </a>
        {{end}}
        {{end}}
    </div>
</body>

</html>
{{end}}