{{define "jobStatus"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/public/img/favicon-32x32.png">
    <title>Status · {{.JobID}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>


<body>
    <h1>Job Status</h1>
    <table>
        <tr>
            <td class="bold">Process ID</td>
            <td>{{.ProcessID}}</td>
        </tr>
        <tr>
            <td class="bold">Job ID</td>
            <td>{{.JobID}}</td>
        </tr>
        <tr>
            <td class="bold">Status</td>
            <td>
                <span class="status-symbol">
                    {{if eq .Status "successful"}}✔️{{else if or (eq .Status "failed") (eq .Status
                    "dismissed")}}❌{{else if or (eq .Status "accepted") (eq .Status "running")}}🟡{{end}}
                </span>
                {{.Status}}
            </td>
        </tr>
        <tr>
            <td class="bold">Last Updated</td>
            <td>{{.LastUpdate.Format "2006-01-02 15:04:05 MST"}}</td>
        </tr>

    </table>
</body>

</html>
{{end}}