:root {
    --font-color: #333;
    --background-color: #F8F8F8;
    --link-color: #007BFF;
    --link-hover-color: #0056b3;
    --table-border-color: #ddd;
    --table-header-bg: #d7d7d7;
    --table-row-even-bg: #efefef;
    --table-row-hover-bg: #E6F7FF;
    --font-color-blue: #007BFF;
    --font-color-gray: #6C757D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #FFF;
        --background-color: #333;
        --link-color: #BB86FC;
        --link-hover-color: #9c7bea;
        --table-border-color: #ddd;
        --table-header-bg: #3c3c3c;
        --table-row-even-bg: #2a2a2a;
        --table-row-hover-bg: #1a1a1a;
        --font-color-blue: #BB86FC;
        --font-color-gray: #757575;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

h1, h2 {
    color: var(--font-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
}

th, td {
    padding: 0.6rem;
    text-align: left;
    border: 1px solid var(--table-border-color);
}

th {
    background-color: var(--table-header-bg);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--table-row-even-bg);
}

tr:hover {
    background-color: var(--table-row-hover-bg);
}

.blue {
    color: var(--font-color-blue);
}

.gray {
    color: var(--font-color-gray);
}

.bold {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.prev-link {
    margin-right: 1rem;
}